.container {
  position: absolute;
  top: 0;
  height: 32px;
  background: #222629;

  padding: 0 34px;
  box-sizing: border-box;
}

.button {
  height: 32px;
  min-width: 32px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  background: #61892f;
  border: 0 none transparent;
  margin: 0 1px;
}

.button:hover {
  background: #86c232;
}

.button[aria-selected=true] {
  background: #86c232;
}
