.container {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  flex: 0 1 auto;
  background: #474b4f;
  border-left: 1px solid #6b6e70;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  font-size: 32px;
  color: #6b6e70;
}

.colonyContainer {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;

  margin-top: 32px;
  box-sizing: border-box;
}
