.container {
  display: flex;
  flex-direction: column;
}

.saveButton {
  height: 32px;
  min-width: 32px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  background: #61892f;
  border: 0 none transparent;
  margin: 0 1px;
}

.saveButton:hover {
  background: #86c232;
}
