.container {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100%;
  background: #222629;
}

.fileButtonContainer {
  position: relative;
  width: 100%;
  height: 40px;
}

.fileButtonContainer input {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  cursor: pointer;
}

.fileButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #61892f;
  color: white;
  font-weight: bold;
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.fileButton:hover {
  background: #86c232;
}

.navigation {
  flex-grow: 1;
  overflow: auto;
  max-height: 100%;
}

.selectButton {
  height: 112px;
  max-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: transparent;
  box-sizing: border-box;
  border: 0px solid #474b4f;
  border-bottom: 1px solid #474b4f;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.selectedFile,
.selectButton:hover {
  background: #474b4f;
}

.selectImage {
  min-height: 80px;
  min-width: 80px;
  height: 80px;
  width: 80px;
  margin: 16px 16px;
  object-fit: cover;
}

.selectName {
  display: inline-block;
  font-size: 16px;
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 16px;
}

.message {
  font-size: 16px;
  color: #6b6e70;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
