.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  overflow: hidden;

  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  background: #00000066;
}

.spinner {
  position: relative;
  height: 100px;
  width: 100px;

  border: 4px solid transparent;
  border-top-color: #86c232;
  border-left-color: #86c232;
  border-radius: 50%;

  animation: spin 1.5s linear infinite;
}

.spinner::before {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;

    content: "";

    border: 4px solid transparent;
    border-top-color: #61892f;
    border-left-color: #61892f;
    border-radius: 50%;

    animation: spinBack 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes spinBack {
  from { transform: rotate(0deg); }
  to { transform: rotate(-720deg); }
}
